{% extends "base.html" %}

{% block content %}
    {% if name %}
        <p>Hello {{ name }}! What would you like to tell us this time?</p>
    {% endif %}
    {% if email %}
        <p>Your email is {{ email }}! Are we right about that?</p>
    {% endif %}
    <p>This is the about page!</p>
    <form method="post" action="/about">
        Name: <input
                type="text"
                name="contact-name"
                placeholder="Enter your name...">
        <br>
        Email: <input
                    type="email"
                    name="contact-email"
                    placeholder="Enter email ...">
        <br>
        <textarea
                name="contact-message"
                placeholder="Enter text ...">
        </textarea>
        <button type="submit">Send contact</button>
    </form>
{% endblock content %}