<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Ninja Test Deploy</title>
</head>
<body>
    <!-- <p>Hello {{ name }}!</p> -->

    {% block content %}
        <p>This is the content.</p>
    {% endblock content %}

    <ul>
        <li>
            <a href="/">Main page</a>
        </li>
        <li>
            <a href="/about">About me</a>
        </li>
        <li>
            <a href="/opt-out">Data privacy</a>
        </li>
    </ul>
</body>
</html>