{% extends "base.html" %}

{% block content %}
    <p>This is the main page!</p>

    {% if cities %}
        <p>My favourite cities in the year {{ year }} are:</p>
        <ul>
            {% for city in cities %}
                <li>{{ city }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}