{% extends "base.html" %}

{% block content %}
    <h1>Opt out of cookie use</h1>
    <p>Uncheck the things you don't want us to track.</p>
    <form method="post" action="/opt-out">
        <p>Email: <input type="checkbox" name="email" checked></p>
        <p>Name: <input type="checkbox" name="name" checked></p>
        <button type="submit">Change opt out info</button>
    </form>
{% endblock content %}