{% extends "base.html" %}

{% block content %}
{% if user and user.secret_number %}
    <form method="post" action="/result">
        <input type="text" name="guess" placeholder="Enter your guess">
        <br>

        <button type="submit">Submit</button>
    </form>
{% else %}
    <form method="post" action="/login">
        <input type="text" name="user-name" placeholder="Enter your name"><br>
        <input type="email" name="user-email" placeholder="Enter your email address"><br>
        <input type="password" name="user-password" placeholder="Enter your passwod"><br>
        <!--
        <input type="hidden" name="login-form-token" value="randomstring">
        PREVENTING CSRF ->
            1) generate random code for each form, write to DB
            2) check form on backend if submission was OK (cross-check with token in DB)
            3) invalidate code as soon as it is used once
        -->
        <button>Submit</button>
    </form>
{% endif %}
{% endblock content %}
