/* ------------------------ HEADER ---------------------------- */


/* ------------------------ FOOTER ---------------------------- */

span {
    /* Positioning */
    padding: 0 5% 0 5%;

    /* Display & Box model */
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: 88px auto;
    min-height: 100%;
    /* Color */
    color: green;

    /* Text */

    /* Other */
}
#yellow {
    color: orange;
    font-size: 30px;
}
#blue {
    color: blue;
}
p.blue {
    color: blue;
}
ul.shopping > li {
    font-size: 40px;
}
p.special-paragraph > span {
    color: blue;
}
p.special-paragraph span.red {
    color: red;
}
p.special-paragraph span.green {
    color: green;
}
p.big {
    font-size: 40px;
}
p.separated {
    letter-spacing: 2px;
}
a.link {
    color: #cccccc;
    text-decoration: none;
}
a.link:hover {
    font-size: 30px;
}
a.link:visited {
    font-size: 5px;
}
p.first-letter-big::first-letter {
    font-size: 30px;
    color: red;
}
.image {
    border: 4px dotted blue;
}
.image:hover {
    border: 10px dotted red;
}