<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More DB fun</title>
</head>
<body>
    <h1>More DB fun</h1>

    {% block content %}
    {% endblock content %}

    <ul>
        <li>
            <a href="/user">Create user</a>
        </li>
        <li>
            <a href="/message">Create todo</a>
        </li>
    </ul>
</body>
</html>