{% extends "base.html" %}

{% block content %}
    <h2>Messages of our users</h2>
    {% for user in users %}
        <h3>{{ user.name }}</h3>
        <ul>
        {% for message in user.messages %}
            <li>{{ message.text }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}