{% extends "base.html" %}

{% block content %}
    <h2>Message management</h2>
    <form action="/message" method="post">
        <p>User:
            <select name="user">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }} - {{ user.email }}</option>
                {% endfor %}
            </select>
        </p>
        <p>Text:</p>
        <textarea cols="50" rows="20" name="text"></textarea>
        <p>
            <button type="submit">Add message</button>
        </p>
    </form>
{% endblock content %}