{% extends "base.html" %}

{% block content %}
    <h2>User management</h2>
    <form action="/user" method="post">
        <p>Name: <input type="text" name="name"></p>
        <p>Email: <input type="email" name="email"></p>
        <button type="submit">Add user</button>
    </form>
{% endblock content %}