#navigation {
    background-color: red;
    height: 50px;
    width: auto;
    /* padding: 20px; */
    padding: 10px 20px 30px 40px; /* TOP, RIGHT, BOTTOM, LEFT */
    /* [ padding, margin ]-left */
    /* [ padding, margin ]-right */
    /* [ padding, margin ]-top */
    /* [ padding, margin ]-bottom */
    border: 10px solid yellow;
    /* position: [ fixed, absolute, relative ] */
    /* top */
    /* bottom */
    /* right */
    /* left */
    position: absolute;
}

.relative-1 {
    background: yellow;
    position: relative;
    height: 50px;
}

.relative-2 {
    background: green;
    position: relative;
    height: 90px;
    top: -10px;
    opacity: 0.5;
}

/* display: [ block (by default, takes 100% if not noted otherwise), inline (content width), inline-block ] */

.inline-1 {
    /* display: block -> by default for DIVS */
    display: inline-block;
    background: yellow;
    width: 33%;
}

.inline-2 {
    display: inline-block;
    background: green;
    width: 33%;
}

.main {
    width: 200px;
    margin: 0 auto;
    height: 50px;
    background-color: red;
    display: block;
}

.square-inline-container {
    font-size: 0px; /* If you want to remove spaces, font-size: 0px */
}

.square {
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
    margin: 5px;
}

.square-flex {
    height: 100px;
    width: 50%;
    background-color: red;
    margin: 5px;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


.container {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
}

/* display: flex -> FLEXBOX */