{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
<p><strong>Your name:</strong> {{ user.name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>

<p><a href="/profile/edit">Edit profile</a></p>
<p><a href="/profile/delete">Delete profile</a></p>
{% endblock content %}
