{% extends "base.html" %}

{% block title %}All users{% endblock title %}

{% block content %}
    <h3>Users</h3>

    <ul>
        {% for user in users %}
        <li><a href="/user/{{ user.id }}">{{ user.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}