{% extends "base.html" %}

{% block title %}Checking user {{ user.name }}{% endblock title %}

{% block content %}

<h3>User {{ user.name }}</h3>
<p><strong>Email:</strong> {{ user.email }}</p>

<p><a href="/users">Go back</a></p>
{% endblock content %}
