<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB fun</title>
</head>
<body>
    <h1>DB fun</h1>

    {% if user %}
        <p>Hello {{ user.name }}!</p>
        <p>Your email is {{ user.email }}!</p>
        <p>Shall we play a game?</p>
        <img src="https://townsquare.media/site/442/files/2014/10/jigsaw-630x420.jpg?w=980&q=75">
    {% else %}
        <form action="/login" method="post">
            <p>Name: <input type="text" name="user-name" placeholder="Enter name ..."></p>
            <p>Email: <input type="email" name="user-email" placeholder="Enter email..."></p>
            <button>Submit</button>
        </form>
    {% endif %}

</body>
</html>